@import "@styles/variables.scss";

.card {
  padding: 20px;
  background-color: $light-gray;
  box-shadow: 0px 16px 30px -10px $moderate-blue-shadow;
  border-radius: 10px;
  cursor: $cursor;
}

.header {
  display: flex;
  align-items: flex-start;
  margin-bottom: 15px;
}

.title {
  margin-right: 15px;
  margin-bottom: 0;
  font-weight: 700;
  font-size: 22px;
  line-height: 33px;
  color: $dark-grayish-blue;

  @media (max-width: $tablet-width) {
    font-size: 19px;
    line-height: 31px;
    overflow: hidden;
  }
}

.visibility {
  padding: 2px 8px;
  margin-left: auto;
  border: 1px solid $dark-moderate-blue;
  border-radius: 20px;
  font-size: 13px;
  line-height: 19px;
}

.stars {
  margin-left: 10px;
  flex-shrink: 0;

  @media (max-width: $tablet-width) {
    font-size: 13px;
    line-height: 19px;
  }
}

.star-icon {
  vertical-align: middle;
  margin-right: 5px;
}

.description {
  margin-bottom: 20px;

  @media (max-width: $tablet-width) {
    font-size: 13px;
    line-height: 25px;
  }
}

.info {
  display: flex;
  font-size: 15px;
  line-height: 22px;
  color: $dark-moderate-blue;

  & *:not(:last-child) {
    margin-right: 20px;
  }

  @media (max-width: $tablet-width) {
    font-size: 13px;
    line-height: 19px;
  }
}
