@import url("./normalize.css");
@import url("./variables.css");

body {
  font-family: "Roboto", sans-serif;
  font-size: 14px;
  line-height: 1.173em;
  color: var(--main-font-color);
  background-color: var(--background);
}

.container {
  width: 397px;
  margin: 0 auto;
}
