@import "@styles/normalize.scss";
@import "@styles/fonts.scss";
@import "@styles/variables.scss";

body {
  font-family: "Space Mono", monospace;
  font-size: 15px;
  line-height: 25px;
  color: $dark-grayish-blue;
  background-color: $light-background;
  min-width: 360px;
}
