$main-font-color: #7e7e7e;
$black-color: #000;
$background: #fff;
$accent: #ff5555;
$color-border: #d9d9d9;
$disabled-input: #f9f9f9;
$link-hover: #208fbf;
$star-gold: #ff9432;
$border-radius: 6px;
$cursor: pointer;
/* url("@assets/iconcs/cursor.svg") пока не работает */
