@import "@styles/mixins.scss";
@import "@styles/variables.scss";

@include container($width: 750px, $padding: 0 20px);

@media (max-width: $desktop-width) {
  @include container($width: 620px, $padding: 0 25px);
}

@media (max-width: $tablet-width) {
  @include container($width: 360px, $padding: 0 20px);
}

.search-page {
  display: grid;
  grid-template-rows: 70px auto;
  grid-template-areas:
    "search-bar"
    "card";
  row-gap: 25px;
  margin-top: 145px;

  @media (max-width: $desktop-width) {
    margin-top: 140px;
  }

  @media (max-width: $tablet-width) {
    margin-top: 30px;
    grid-template-rows: 60px auto;
    row-gap: 16px;
  }
}
