@import "@styles/variables";

.card {
  display: flex;
  align-items: center;
  padding: 12px;
  border: 1px solid $color-border;
  border-radius: $border-radius;

  &:hover {
    cursor: $cursor;
    box-shadow: 0px 2px 6px rgba(182, 182, 182, 0.25);
  }
}

.avatar {
  position: relative;
  z-index: -2;
  flex-shrink: 0;
  width: 80px;
  height: 80px;
  margin-right: 12px;
  border-radius: 50%;
  background-color: $accent;

  &::before {
    content: "K";
    position: absolute;
    z-index: -1;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    font-weight: bold;
    font-size: 40px;
    line-height: 47px;
    color: $background;
  }
}

.avatar-icon {
  border-radius: 50%;
}

.content {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  gap: 4px;
}

.title {
  width: 241px;
  font-size: 16px;
  font-weight: 700;
  line-height: 1.1875em;
  letter-spacing: 0em;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  color: $black-color;
}

.link {
  color: $main-font-color;
  text-decoration: none;
  cursor: $cursor;

  &:hover {
    color: $link-hover;
  }
}

.info {
  display: flex;
  align-items: center;
  gap: 20px;
}

.star-icon {
  vertical-align: middle;

  & path {
    fill: $star-gold;
  }
}
