@import "@styles/variables.scss";

.search-bar {
  display: flex;
}

.input {
  flex-grow: 1;
  padding: 17px 12px;
  border: 1px solid $color-border;
  color: $black-color;
  border-radius: $border-radius;
  outline: none;

  &:focus {
    border-color: $accent;
  }

  &:disabled {
    background-color: $disabled-input;
  }

  &::placeholder {
    font-family: inherit;
    font-size: inherit;
    line-height: inherit;
    color: $main-font-color;
  }
}

.button {
  position: relative;
  flex-shrink: 0;
  width: 50px;
  height: 50px;
  margin-left: 12px;
  border: none;
  border-radius: $border-radius;
  background-color: $accent;
  cursor: $cursor;

  &:hover {
    opacity: 0.7;
  }

  &:disabled {
    background-color: $color-border;
    opacity: 1;
  }
}

.button-icon {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 24px;
  height: 24px;
  transform: translate(-50%, -50%);
  opacity: inherit;
}
