:root {
  --main-font-color: #7e7e7e;
  --black-color: #000;
  --background: #fff;
  --accent: #ff5555;
  --color-border: #d9d9d9;
  --disabled-input: #f9f9f9;
  --link-hover: #208fbf;
  --star-gold: #ff9432;
  --border-radius: 6px;
  --cursor: url("../images/cursor.svg"), url("../images/cursor.png"), pointer;
}

body {
  font-family: "Roboto", sans-serif;
  font-size: 14px;
  line-height: 1.173em;
  color: var(--main-font-color);
  background-color: var(--background);
}

.container {
  width: 397px;
  margin: 0 auto;
}

.repositories {
  display: grid;
  grid-template-rows: 50px 1fr;
  grid-row-gap: 20px;
  width: 397px;
  padding: 20px;
}

.search-bar {
  display: flex;
}

.search-bar__input {
  flex-grow: 1;
  padding: 17px 12px;
  border: 1px solid var(--color-border);
  color: var(--black-color);
  border-radius: var(--border-radius);
  outline: none;
}

.search-bar__input:focus {
  border-color: var(--accent);
}

.search-bar__input:disabled {
  background-color: var(--disabled-input);
}

.search-bar__input::placeholder {
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
  color: var(--main-font-color);
}

.search-bar__button {
  position: relative;
  flex-shrink: 0;
  width: 50px;
  height: 50px;
  margin-left: 12px;
  border: none;
  border-radius: var(--border-radius);
  background-color: var(--accent);
  cursor: var(--cursor);
}

.search-bar__button:hover {
  opacity: 0.7;
}

.search-bar__button:disabled {
  background-color: var(--color-border);
  opacity: 1;
}

.search-bar__button-icon {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 24px;
  height: 24px;
  transform: translate(-50%, -50%);
  opacity: inherit;
}

.repositories-list__item {
  margin-bottom: 16px;
}

.card {
  display: flex;
  align-items: center;
  padding: 12px;
  border: 1px solid var(--color-border);
  border-radius: var(--border-radius);
}

.card:hover {
  cursor: var(--cursor);
  box-shadow: 0px 2px 6px rgba(182, 182, 182, 0.25);
}

.card__avatar {
  position: relative;
  z-index: -2;
  flex-shrink: 0;
  width: 80px;
  height: 80px;
  margin-right: 12px;
  border-radius: 50%;
  background-color: var(--accent);
}

.card__avatar::before {
  content: "K";
  position: absolute;
  z-index: -1;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  font-weight: bold;
  font-size: 40px;
  line-height: 47px;
  color: var(--background);
}

.card__avatar-icon {
  border-radius: 50%;
}

.card__content {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  gap: 4px;
}

.card__title {
  width: 241px;
  font-size: 16px;
  font-weight: 700;
  line-height: 1.1875em;
  letter-spacing: 0em;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  color: var(--black-color);
}

.card__link {
  color: var(--main-font-color);
  text-decoration: none;
  cursor: var(--cursor);
}

.card__link:hover {
  color: var(--link-hover);
}

.card__info {
  display: flex;
  align-items: center;
  gap: 20px;
}

.card__star-icon {
  vertical-align: text-bottom;
}

.card__star-icon path {
  fill: var(--star-gold);
}
